services:
  api:
    container_name: gameshelf_api
    build: .
    depends_on:
      - database
    env_file:
      - .env
    ports:
      - "${API_PORT:-3000}:3000"

  database:
    image: postgres
    container_name: gameshelf_database
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
